<ion-content>

  <div class="logo">
    <ion-img src="assets/images/logo.png"></ion-img>
  </div>

  <div class="logotext">
    <h3>Register</h3>
  </div>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="formdetails" *ngIf="page1">
      <br>
      <ion-item lines="none" class="ion-margin-top ion-margin-bottom">
        <!-- <ion-label position="floating">Full Name</ion-label> -->
        <ion-input type="text" placeholder="Full Name" formControlName="fullName"></ion-input>
      </ion-item>
      <div *ngIf="(f.fullName.dirty || f.fullName.touched) && f.fullName.errors" class="errors ion-margin-bottom">
        <span *ngIf="f.fullName.errors?.required">Name is required</span>
        <span *ngIf="f.fullName.errors?.fullName">Name is invalid</span>
      </div>
      <ion-item lines="none" class="ion-margin-top ion-margin-bottom">
        <!-- <ion-label position="floating">Email Address</ion-label> -->
        <ion-input type="text" placeholder="Email Address" name="email" formControlName="email"></ion-input>
      </ion-item>
      <div *ngIf="(f.email.dirty || f.email.touched) && f.email.errors" class="errors ion-margin-bottom">
        <span *ngIf="f.email.errors?.required">Email is required</span>
        <span *ngIf="f.email.errors?.email">Email is invalid</span>
      </div>
      <ion-item lines="none" class="ion-margin-bottom">
        <!-- <ion-label position="floating">Password</ion-label> -->
        <ion-input type="{{showPass ? 'text' : 'password'}}" placeholder="Password" formControlName="password">
        </ion-input>
        <ion-icon size="large" style="margin-top: 10px;" item-end slot="end" name="{{showPass ? 'eye' : 'eye-off'}}"
          (click)="showPass=!showPass"></ion-icon>
      </ion-item>
      <div *ngIf="(f.password.dirty || f.password.touched) && f.password.errors" class="errors ion-margin-bottom">
        <span *ngIf="f.password.errors?.required">Password is required</span>
        <span *ngIf="f.password.errors?.minlength">Password needs to be 6 characters</span>
      </div>
      <ion-button expand="full" (click)="next()">Next</ion-button>
      <!-- <ion-button expand="full" size="large">LOGIN</ion-button> -->
      <br>
      <p class="ion-text-right primary"><a [routerLink]="['/auth']">Log In</a></p>
    </div>


    <div class="formdetails" *ngIf="page2">
      <p class="ion-text-left primary"><a (click)="back()">Back</a></p>
      <ion-item lines="none" class="ion-margin-top ion-margin-bottom">
        <!-- <ion-label position="floating">Phone Number</ion-label> -->
        <ion-input type="number" placeholder="Phone Number" formControlName="phoneNumber"></ion-input>
      </ion-item>
      <div *ngIf="(f.phoneNumber.dirty || f.phoneNumber.touched) && f.phoneNumber.errors"
        class="errors ion-margin-bottom">
        <span *ngIf="f.phoneNumber.errors?.required">Phone Number is required</span>
        <span *ngIf="f.phoneNumber.errors?.phoneNumber">Phone Number is invalid</span>
      </div>
      <ion-item lines="none" class="ion-margin-top ion-margin-bottom">
        <!-- <ion-label position="floating">Whatsapp Number</ion-label> -->
        <ion-input type="number" placeholder="Whatsapp Number" formControlName="whatsapp"></ion-input>
      </ion-item>
      <div *ngIf="(f.whatsapp.dirty || f.whatsapp.touched) && f.whatsapp.errors" class="errors ion-margin-bottom">
        <span *ngIf="f.whatsapp.errors?.whatsapp">Whatsapp Number is invalid</span>
      </div>
      <ion-item lines="none" class="ion-margin-top ion-margin-bottom">
        <ion-label>Account Type</ion-label>
        <ion-select mode="ios" formControlName="accountType">
          <ion-select-option value="Reseler">Reselers</ion-select-option>
          <ion-select-option value="Beneficiary">Beneficiary</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="none" class="ion-margin-bottom" >
        <!-- <ion-label position="floating">Refree</ion-label> -->
        <ion-input type="text" placeholder="Refree" formControlName="referee"></ion-input>
      </ion-item>
      <ion-button expand="full" type="submit" [disabled]="!registerForm.valid">Register</ion-button>
      <!-- <ion-button expand="full" size="large">LOGIN</ion-button> -->

    </div>
  </form>


</ion-content>
