ion-item {
  --inner-box-shadow: 5px;
  border-radius: 5px;
  // border: 1px solid var(--ion-color-medium);
  box-shadow: 0px 0px 3px 0px var(--ion-color-dark);
  margin: 0 10px 20px !important;

  ion-label {
    color: var(--ion-color-dark);
  }
}

ion-card-content {
  padding: 20px !important;
}

ion-card-header {
  border-bottom: 1px solid var(--ion-color-medium) !important;
  padding-left: 30px;
  padding-right: 30px;
}

ion-card-title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}

ion-button {
  --padding-top: 25px !important;
  --padding-bottom: 25px !important;
}

ion-segment {
  width: 100%;
}

ion-segment-button {

  --indicator-height: none !important;
  --padding-end: 0px !important;
  --padding-start: 0px !important;
  --width: 20px !important;
  --height: 50px !important;
  width: 20px !important;
  height: 50px !important;
  min-width: 30px !important;
  min-height: 60px !important;
  --border-radius: 10px !important;
  --padding-top: 0px !important;
  --padding-bottom: 0px !important;
  padding: 0 !important;
  margin-left: 10px !important;
  margin-bottom: 20px;

}

// .segment-button-checked{
//       border-width: 1px !important;
//       border-style: solid !important;
//       border-color: green !important;
//     }

ion-segment-button.mtn {
  background: url('../../assets/images/mtn.png') 0 0/100% 100% no-repeat;
  --background-checked: none;
}

ion-segment-button.airtel {
  background: url('../../assets/images/airtel2.png') 0 0/100% 100% no-repeat;
  --background-checked: none;
}

ion-segment-button.glo {
  background: url('../../assets/images/glo.png') 0 0/100% 100% no-repeat;
  --background-checked: none;
}

ion-segment-button.mobile {
  background: url('../../assets/images/9mobile3.png') 0 0/100% 100% no-repeat;
  --background-checked: none;
}

ion-segment-button:nth-child(1) {
  margin-left: 0 !important;
}


.logoimg {
  // width: 7vw !important;
  // height: 2vh !important;
  border-radius: 15px !important;
}
